@import "./vars.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial, Helvetica, sans-serif";
}

html, body {
    background-color: var(--color-bg);
    min-height: 100%;
}

#root {
    min-height: 100vh;
    background-color: var(--color-bg);
}